.row{
    margin-bottom: 20px;
}

.col1{
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}





/* .btn{
    display: flex;
    margin: auto;
    background-color: rgb(97, 32, 32);
} */


label{
    font-size: large;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48;
  margin-top: 2px;
}
.vertical-line {
    height: 1px;
    background-color: black;
    margin-top: 39px;
  }