.userInput {
    display: flex;
    justify-content: center;
  }
  .uInput {
    margin: 3px;
    height: 58px;
    width: 45px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: arimo;
    font-size: 1.2rem;
    background: #eef2f3;
  }