<mat-dialog-content>
    <h2>Password Update</h2>
    <p>Otp sent to the registered email <span>{{email}}</span></p> <!-- Display the received value -->
    

    <div style="text-align: center;">
         <h3>Enter Otp:</h3>
         <div class="userInput" >
            <input #input1 type="text"  maxlength="1" class="uInput" on-input="Check(input1,input2)" name="otp" [(ngModel)]="otp1" >
            <input #input2 type="text"  maxlength="1" class="uInput" on-input="Check(input2,input3)" name="otp" [(ngModel)]="otp2" >
            <input #input3 type="text"  maxlength="1" class="uInput" on-input="Check(input3,input4)" name="otp" [(ngModel)]="otp3" >
            <input #input4 type="text"  maxlength="1" class="uInput" on-input="Check(input4,input5)" name="otp" [(ngModel)]="otp4" >
            <input #input5 type="text"  maxlength="1" class="uInput" on-input="Check(input5,input6)" name="otp" [(ngModel)]="otp5" >
            <input #input6 type="text"  maxlength="1" class="uInput" on-input="Check(input6,null)" name="otp"   [(ngModel)]="otp6" >

        </div>
        <br>
        <input class="btn btn-success" type="button" value="Confirm" (click)="ConfirmOtp()">
    </div>
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
